<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://www.okler.net/previews/porto-admin/4.0.0/vendor/datatables/media/css/dataTables.bootstrap5.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/data.css') }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <title>Applications Table</title>
    <style>
       
    </style>
</head>
<body>
        <div>
        <h1 id="headline">Applications Table</h1>
        </div> 

        <div>
            <p>
                <button id="returnButton" onclick="goBack()">Main Menu ☰</button>    
            </p>
        </div>
        <div>
            <p>
                <button id="create_button" class="create_record_button" onclick="openCreateEditor()">Create Record</button>    
            </p>
        </div>   
        
        
        <table id="data_general" class="display" style="width:100%"></table>
        <script src="{{url_for('static', filename='data.js')}}"></script>
        <div class="popup" id="popup">
            <div class="input-container">
                <h2>Edit Row</h2>
                <label for="aspect">Aspekt:</label>
                <input type="text" id="aspect">
                <br>
                <label for="value">Value: </label>
                <input type="text" id="value">
                <br>
            </div>    
            <div class="button-container">
                <button onclick="saveChanges()">Save Changes</button>
                <button onclick="closeEditor()">Cancel</button>
        </div>    
        </div>
        <div class="overlay" id="overlay" onclick="closeEditor()"></div>
        <div class="popup2" id="popup2">
            <div class="input-container2">
                <h2>Edit Row</h2>
                <label for="Id">Id:</label>
                <input type="text" id="Id">
                <label for="aspect">Aspekt:</label>
                <input type="text" id="aspect2">
                <br>
                <label for="value">Value: </label>
                <input type="text" id="value2">
                <br>
            </div>    
            <div class="button-container2">
                <button onclick="createRecord()">Create Record</button>
                <button onclick="closeCreateEditor()">Cancel</button>
        </div>    
        </div>
        <div class="overlay2" id="overlay2" onclick="closeCreateEditor()"></div>
</body>
</html>