<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>
       
    </style>
    <title>Application Manager</title>
</head>
<body>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <div id="menu">
            <button id="menuButton" onclick="toggleMenu()">Main Menu ☰</button>    
            <a id="application_list" href="application_list.html">Liste an Bewerbungen</a>
            <a id="application_report" href="application_report.html">Bewerbungs-Report</a>
            
        </div>
       
        <div id="content">
            <h2>Application Managment Tool</h2>
        </div>
         
</body>
</html>