<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>
       
    </style>
    <title>Tamama</title>
</head>
<body>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <div id="menu">
            <button id="menuButton" onclick="toggleMenu()">Main Menu ☰</button>    
            <a id="test_run_management" href="test_run_management.html">Test Automation Management</a>
             
        </div>
       
        <div id="content">
            <h2>Test Automation Managment And Monitoring Application</h2>
        </div>
         
</body>
</html>